[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
line-bot-sdk = "*"
requests-async = "*"

[requires]
python_version = "3.7"
